$c-orange: #ff9900;
$c-hilite: #99ccaa;
$c-hilite-blink: #336655;

$c-orange: #ff9900;
$c-green: #22ff55;
$c-red: #ff2255;
$c-blue: #2255ff;
$c-hilite: #99ccaa;
$c-hilite-blink: #336655;
$c-shadow: rgba(0, 0, 0, 0.4);

html {
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
}

.seq-ui {
  
  background: #272927;
  color: #111;
  font-family: monospace;
  
  * {
    user-select: none;
    cursor: default;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
    color: #333;
    ;
    transition: color 0.3s ease;
    &:hover {
      color: #fff;
    }
  }

  section {
    margin: 1em;
    padding: 1em;
  }
  #wrap {
    padding: 1em;
  }
  h3 {
    color: #444;
  }
  button {
    appearance: none;
    border: none;
    &:focus {
      outline: none;
      border-color: $c-hilite;
      animation: focused 0.5s ease;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
  @keyframes focused {
    to {
      border-color: $c-hilite-blink;
    }
  }
  .control {
    margin: 3px;
    display: inline-block;
    vertical-align: middle;
  }
  /**
 * Pad
**/
  .pad {
    background: #222;
    background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.6));
    width: 40px;
    height: 40px;
    border: 2px solid #333;
    border-radius: 5px;
    color: #888;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 5px 10px $c-shadow;
    &:hover {
      background-color: #530;
      border-color: $c-orange;
      box-shadow: 0 5px 10px $c-shadow;
    }
    &.active {
      box-shadow: 0 2px 2px $c-shadow;
      color: #fff;
      transform: translateY(2px);
    }
  }
  /**
 * Metering
**/
  .meter {
    width: 40px;
    height: 6px;
    background: #111;
    box-shadow: 0 0 2px $c-shadow;
    &.vertical {
      transform: rotate(-90deg);
    }
    span {
      display: block;
      background: $c-green;
      height: 100%;
      opacity: 1;
      box-shadow: 0 0 10px $c-green;
      transform-origin: 0 50%;
      &.max {
        background: $c-red;
        box-shadow: 0 0 10px $c-red;
      }
      &.anim {
        animation: equalize 1s linear;
        animation-iteration-count: infinite;
      }
      &.fade {
        transition: transform 0.3s linear;
      }
    }
  }
  .metronome {
    width: 40px;
    height: 20px;
    background: #111;
    box-shadow: inset 0 0 5px $c-shadow;
    font-size: 0;
    span {
      display: inline-block;
      margin: 0;
      height: 100%;
      width: 25%;
      &.active {
        box-shadow: 0 0 10px $c-blue;
        background: $c-blue;
      }
    }
  }
  /**
 * Mute control
**/
  .mute {
    width: 15px;
    height: 15px;
    background: #111;
    border-radius: 50%;
    border: 1px solid #222;
    box-shadow: inset 0 0 10px #111, 0 0 2px $c-shadow;
    transition: border-color 0.3s ease;
    &:hover {
      border-color: $c-orange;
    }
    &.active {
      background: radial-gradient($c-green, transparent 50%);
      box-shadow: inset 0 0 10px #111, 0 0 2px $c-green;
    }
  }
  /**
 * Seq
**/
  .seq-row {
    font-size: 0;
    cursor: pointer;
    white-space: nowrap;
    &.inline {
      display: inline-block;
      vertical-align: middle;
      margin-left: 1em;
    }
    span {
      display: inline-block;
      margin: 1px;
      width: 15px;
      height: 30px;
      background: #181818 linear-gradient(#282828, transparent);
      border: 2px solid #222;
      border-radius: 5px;
      box-shadow: 0 2px 10px $c-shadow;
      cursor: pointer;
      //transition: border-color 0.1s ease;
      &.seq-step-measure {
        background: #222 linear-gradient(#333, transparent);
      }
      &.seq-note {
        background: #444 linear-gradient(#7c8, transparent);
        border-color: #565;
        &.seq-playhead {
          transform: translateY(2px);
        }
      }
      &.seq-playhead {
        border-color: $c-blue;
        box-shadow: 0 0 30px $c-blue;
      }
      &:hover {
        border-color: $c-orange;
      }
    }
  }
  .channel {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #111;
    padding: 5px 10px;
    background: linear-gradient(#222, $c-shadow);
  }
  @keyframes equalize {
    0% {
      transform: scaleX(0.2);
    }
    25% {
      transform: scaleX(0.7);
    }
    35% {
      transform: scaleX(0);
    }
    40% {
      transform: scaleX(0.6);
    }
    50% {
      transform: scaleX(0.1);
    }
    55% {
      transform: scaleX(0.9);
    }
    60% {
      transform: scaleX(0.3);
    }
    75% {
      transform: scaleX(0.8);
    }
    80% {
      transform: scaleX(0.4);
    }
    90% {
      transform: scaleX(0.9);
    }
    100% {
      transform: scaleX(0.2);
    }
  }
  .transport button {
    background: #222;
    background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.6));
    width: 40px;
    border: 2px solid #333;
    border-radius: 5px;
    color: #888;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 5px 10px $c-shadow;
    &:hover {
      background-color: #530;
      border-color: $c-orange;
      box-shadow: 0 5px 10px $c-shadow;
      color: #fff;
    }
    &.active {
      box-shadow: 0 2px 2px $c-shadow;
      color: #fff;
      transform: translateY(2px);
    }
    &.transport-play {
      color: $c-green;
    }
  }
  .transport-tempo {
    width: 40px;
    background: #222;
    box-shadow: inset 0 0 5px $c-shadow;
    padding: 2px;
    appearance: none;
    border: 1px solid #111;
    color: $c-green;
    text-shadow: 0 0 10px $c-green;
    text-align: center;
  }
}

#app {
  margin: 0 auto;
  width: 500px;
  position: relative;
}

#r-head {
  position: absolute;
  right:0;
  top:0;
  
  h3 {
    margin-top: 0;
  }
}

.presets {
  margin:0;
  padding:0;
  list-style-type:none;
  
  li {
    display: inline-block;
    border: 1px solid #111;
  }
  
  a {
    display: inline-block;
    padding: 5px;
    width: 200px;
    border: 2px solid #333;
    background: #222;
    color: #555;
    background-image: linear-gradient(transparent, rgba(0,0,0,0.6));
    transition: border-color 0.3s ease, 
    background-color 0.3s ease,
    color 0.3s ease;
    &:hover {
      background-color: #530;
      border-color: $c-orange;
    }
    &.active {
      border-color: $c-hilite;
      color: white;
      animation: focused 0.5s ease;
      animation-iteration-count: infinite;
      animation-direction:alternate;
    }
  }
}